    <div class="row">
        
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Avatar dread Negro Zeke.jpg" class="img-fluid" id="fotodeperfil">
        </div>
    

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Enrique Ramallo</p>
        <p>FullStack Developer</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Sobre Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id molestias commodi sunt optio quo voluptatum impedit repellendus deleniti suscipit beatae a mollitia voluptas, quas itaque dolorum illum inventore nobis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, culpa labore. Quos vel consequatur possimus eius repellendus, optio ratione, expedita exercitationem maxime labore officia veniam deserunt aliquid numquam ducimus laudantium!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cumque molestias, eligendi quo, obcaecati itaque nobis, consequatur expedita odit temporibus molestiae. Quisquam accusantium repellat hic odit, dolor blanditiis nihil vero.

        </p>
    </div> 
    </div>